@charset "utf-8";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  line-height: 1.5;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
	background-color: #fdfdfd;
	margin: 0;
}

a {
	color:#1e5919;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #1e5919;
	text-decoration: underline;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  overflow: hidden;
}

#footer {
  font-size: 9pt;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
}
/* ====================== Navigation ====================== */
.page-header {
  background-color: #333;
}

nav {
  padding: 1rem;
  max-width: 94%;
  margin: 0 auto;
}

.logo {
  color: #fff;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 0.125rem;
}
.logo:hover {
  text-decoration: none;
  color: gold;
}

#breadcrumb {
  padding: .5rem 0;
  list-style: none;
  font-size: 10pt;
  margin: 0;
  display: flex;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: silver;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li {
  color: silver;
}
#breadcrumb li a {
  color: white;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  padding: 16px;
  background-color: #333;
}
.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}
.filter-options select {
  display: block;
  background-color: white;
  border: 1px solid #fff;
  letter-spacing: 0;
  font-size: 14pt;
  padding: 0.5rem 0.75rem;
  width: 200px;
  border-radius: 0.25rem;
}

@media screen and (max-width: 479px) {
  .filters label + label {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 480px) {
  .filters {
    display: flex;
  }
  .filters label + label {
    margin-left: 1rem;
  }
}

.filters span {
  font-size: 10pt;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: silver
}

.filters span + select {
  margin-top: 0.25rem;
}

label {
  display: block;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: none;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin: 0 -1rem;
}

.restaurant_list-item {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .restaurant_list-item { width: 50%; max-width: 50%}
}

@media screen and (min-width: 960px) {
  .restaurant_list-item { width: calc(100% / 3); max-width: calc(100% / 3)}
}

@media screen and (min-width: 1240px) {
  .restaurant_list-item { width: 25%; max-width: 25%}
}




.restaurant-card {
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
  border-radius: .25rem;
  padding: 1rem 1.5rem;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: calc(100% + 3rem);
  margin: -1rem -1.5rem 0;
}


#restaurant-img {
  width: 100%;
}

#restaurants-list li h3 {
  color: #1e5919;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color:#1e5919;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.18);
}


#restaurant-name {
  color: #1e5919;
  font-size: 24pt;
  font-weight: 700;
  letter-spacing: 0;
  margin: 16px 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  font-weight: 700;
  letter-spacing: 0.0125em;
}
.restaurant-cuisine {
  display: inline-block;
  background-color: gold;
  color: black;
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  padding: 0.25rem .5rem;
  border-radius: 50px;
  line-height: 1.125;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.restaurant{
  padding: 1rem
}


#restaurant-container {
  max-width: 94%;
  margin: 0 auto 0;
}


.restaurant-info-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.restaurant-info-wrapper > * {
  width: 100%;
  max-width: 100%;
}

.restaurant-info-wrapper > * {
  width: 100%;
  max-width: 100%;
}


@media screen and (min-width: 800px) {

  .restaurant-info-wrapper > * {
    padding: 1rem;
    width: 50%;
    max-width: 50%
  }

  .restaurant-info-wrapper > *:first-child {
    order: 2
  }
}



.restaurant {
  background: white;
  margin-top: -100px;
  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.18);
  border-radius: 0.25rem;
  margin-bottom: 100px;
}

.restaurant__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 0 32px;

}
@media screen and (min-width: 800px ) {
  .restaurant__title-wrapper {
    border-bottom: 2px solid gold;
    margin: 0 16px;
  }
}

h2 {
  color: #1e5919;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0;
  border-radius: 0.25rem;
  overflow: hidden;
}
#reviews-list li {

  display: block;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  background-color: #f2f3f4;
  padding: 1rem 1.5rem;
}

#reviews-list li + li {
  margin-top: 2px;
}

#reviews-list li p {
  margin: 0 0 10px;
  line-height: 1.618;
  color: #444;
}
#restaurant-hours td {
  color: #444;
}

.inside #restaurant-name {
  margin: 0;
  padding-right: 16px;
}

table {
  width: 100%;
}


th {
  text-align: left;
  padding: 0.5rem;
}

tr:nth-child(odd) {
  background-color: #f3f4f5
}
td {
  padding: 0.5rem;
}

p {
  max-width: 35em;
}


.review_name {
  font-weight: 300;
  color: #444
}


.review-form__form {
  background-color: #f2f3f4;
  padding: 1rem;
}


fieldset .flex {
  justify-content: space-between;
}
@media screen and (min-width: 480px)  {
  fieldset .flex {
    justify-content: start;
  }
}

@media screen and (min-width: 800px)  {
  .review-form__form {
    padding: 1rem 1.5rem;

  }

}

legend,
label div,
label span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  padding: 0.25rem;
}

textarea,
select,
[type="text"] {
  border: 2px solid #1e5919;
  border-radius: 0.25rem;
  width: 100%;
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}


.owl > * + * {
  margin-top: 1rem;
}

fieldset {
  padding: 0;
  border: none;
}

fieldset label {
  min-height: 48px;
  min-width: 48px;
  display: flex;
  align-items: center;
}





fieldset label span {
  color: #1e5919;
  font-size: 1.5rem;
}

.cta  {
  padding: 1rem 0;
  display: inline-flex;
}

.likeBtn,
.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.18);
  border: none;
  color: white;
  background-color: #1e5919;
  border-radius: 0.25rem;
}

.likeBtn {
  min-width: 40px;
}


.btn:hover {
  text-decoration: none;
}




.likeBtn.⭑ {
  color: gold;
}



.flex {
  display: flex;
}